:root {
	--main-color: #5e328e;
	--second-color: #400085;
	--danger-color: #e73034;
	--third-color: #00a96c;
	--line-color: #efb02e;
	--font-black-color: #333;
	--font-white-color: #fff;
}

@font-face {
	font-family: 'Cascadia Code';
	src: url('../font/Cascadia.ttf') format('truetype');
}

@font-face {
	font-family: 'Courier Prime Code';
	src: url('../font/Courier-Prime-Code.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSansPro-Light';
	src: url('../font/SourceSansPro-Light.otf') format('truetype');
}

h1,
h2,
h3 {
	font-family: 'Courier Prime Code';
}

p {
	font-family: 'SourceSansPro-Light';
	font-weight: 600;
}

.navbar a,
.jumbotron .nav .nav-link,
.mega-footer h3,
footer {
	font-family: 'Cascadia Code';
}

.navbar .navbar-brand:hover {
	color: var(--third-color, green);
}

/* jumbotron */
.jumbotron {
	background: var(--main-color, #5e328e);
	color: var(--font-white-color, #fff);
}

.jumbotron .container .col-sm {
	text-align: center;
}

.jumbotron .container .nav {
	justify-content: center;
}

.jumbotron img {
	width: 200px;
	margin-top: -25px;
}

.jumbotron .nav li a {
	background-color: var(--third-colo, #00a96c);
	color: var(--font-white-color, #fff);
	border-radius: 10px;
}

.jumbotron .nav li a:hover {
	color: var(--main-color, purple);
}

/* Container/content */
.content .carousel-control-prev span,
.content .carousel-control-next span {
	background-color: var(--third-color, green);
}

/* Navbar-small */
.navbar-small {
	background-color: #19005c;
	margin-top: -32px;
}

/* Table-cart */
.table-cart table {
	margin: auto;
}

.table-cart table img {
	width: 100px;
}

.table-cart table tbody td {
	padding: 10px 0 10px 0;
}

/* Header title */
.header-title {
	margin: 25px 0;
}

.header-title .title {
	width: 100%;
	height: 50px;
	background-color: var(--main-color, purple);
	color: var(--font-white-color, #fff);
	border-left: 5px solid var(--danger-color, red);
	text-transform: uppercase;
}

.header-title h2 {
	padding-top: 5px;
}

/* Product */
.product .img-transition {
	overflow: hidden;
}

.product .img-transition img {
	transition: all 2s;
}

.product .img-transition img:target {
	transform: scale(2);
}

/* Form */
.form {
	margin-bottom: 25px;
}

/* Detail */
.detail {
	margin: 50px;
	flex-direction: row;
}

.detail .desc h3,
.detail .desc h5 {
	margin: 0;
}

.detail h5 {
	color: var(--danger-color, red);
}

.detail img {
	width: 400px;
	height: 250px;
}

/* Testi */
.testimonial {
	background-color: var(--main-color, purple);
	min-height: 350px;
	flex-direction: column;
}

.testimonial .testi {
	padding-bottom: 20px;
}

.testimonial .title {
	margin: 30px 0;
	text-align: center;
	color: var(--font-white-color, #eaeaea);
}

.testimonial img {
	width: 100px;
	height: 95px;
}

.testimonial .text h5,
.testimonial p {
	color: var(--font-white-color, #fff);
}

.testimonial p {
	font-style: italic;
}

.testimonial img {
	float: right;
}

.testimonial .text {
	float: left;
}

/* Mega-Footer */
.mega-footer {
	background-color: var(--second-color, rgb(90, 1, 90));
	color: var(--font-white-color, #fff);
	text-align: center;
}

.mega-footer ul li {
	list-style-type: none;
}

.mega-footer .row {
	margin-left: 40px;
	padding: 25px 0;
}

.mega-footer .sitemap a {
	text-decoration: none;
	color: white;
}

footer p,
footer a {
	margin-top: 10px;
}

/* Desktop */
@media (min-width: 992px) {
	.navbar .navbar-brand {
		text-transform: uppercase;
	}

	.jumbotron .nav li a,
	.testimonial .title,
	.mega-footer h3,
	.mega-footer .sitemap a {
		text-transform: uppercase;
	}

	.product .img-transition img:hover {
		transform: scale(2);
	}

	.mega-footer .about {
		margin-left: 150px;
	}

	.jumbotron .container .col-sm {
		text-align: left;
	}

	.jumbotron .container .nav {
		justify-content: end;
	}
}
